PORT=4000
# Substitua pelo IP/host do servidor do banco (onde roda o Docker)
# Se for local: localhost
# Se for outro PC: seu_ip_local (ex: 192.168.1.100)
DATABASE_URL="mysql://root:aluno@localhost:3306/haunter_store"
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=aluno
DB_NAME=haunter_store
